<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <%- include('partials/head',{title:'userPage'}) %>

</head>

<body>
    <%- include('partials/header') %>
        <main id="user-page-main">
            <div id="user-data-buttons">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <button class="user-buttons" id="Weather-button">Weather</button>
                <br>
                <button class="user-buttons" id="hotels-button">Hotels</button>
                <br>
                <button class="user-buttons" id="resturants-button">resturants </button>
                <br>
                <button class="user-buttons" id="touristical-button">points of intersts </button>
                <br>
                <button class="user-buttons" id="updata-button">UpDate</button>
                <br>
                <form action="/delete?_method=Delete" method="POST">
                    <input type="hidden" name="id"  value="<%=id%>">
                    <button class="user-buttons" id="delete-button">Delete</button>
                </form>
            </div>
            <div id="red-pu">
                <div id="user-data-container">
                    <h2 id="Your-trips-details">
                        Your trips details
                    </h2>
                </div>
                <div id="container-of-spans">
                    <section class="detail-card flip-card" id="details-weather">
                        <div class="cardUserPage flip-card-inner1">
                            <div id="weather-div" class="flip-card-front">
                                <h2 id="Your-trips-details">
                                    <%=reviewResult.city %>
                                </h2>
                                <br>
                                <br>
                                <ul>
                                    <%weather.forEach(x=>{%>
                                        <li> Temperature : <%= x.temperature %>
                                        </li>
                                        <li> Description : <%= x.descriptions %>
                                        </li>
                                        <li> Wind Speed : <%= x.wind_speed %>
                                        </li>
                                        <li>humidity : <%= x.humidity %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                            <div class="flip-card-back">
                                <img src="https://cdn.pixabay.com/photo/2012/06/08/06/19/clouds-49520_960_720.jpg"
                                    alt="">
                            </div>
                        </div>
                    </section>
                    <section class="detail-card flip-card" id="details-hotels">
                        <div class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">
                                <h3>
                                    <%= reviewResult.hotel %>
                                </h3>
                                <p>time arrive <%= reviewResult.checkin %>
                                </p>
                                <p>time leave <%= reviewResult.checkout %>
                                </p>
                                <p>time leave <%= reviewResult.contact %>
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <h2> </h2>
                            </div>
                        </div>
                    </section>
                    <section class="detail-card flip-card" id="details-resturants">
                        <div id="resturants-card" class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">
                                <h3>
                                    <%= reviewResult.returant %>
                                </h3>
                                <img src="<%= reviewResult.resturantimg %>">
                            </div>
                            <div class="flip-card-back">
                                <h2> </h2>
                            </div>
                        </div>
                    </section>
                    <section class="detail-card flip-card" id="details-resturants">
                        <div id="resturants-card" class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">
                                <h3>
                                    <%= reviewResult.touristic %>
                                </h3>
                                <img src="<%= reviewResult.touristicimg %>">
                                <p>
                                    <%= reviewResult.discrp %>
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <h2> </h2>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </div>
            <% allData.forEach(row=>{ %>
                <label for="id">
                    <input type="radio" name="id" value="<%=row.id%>" class="tripData">
                </label>
                <% }) %>
                    <template id="detailTemp" type="text/x-tmpl-mustache">
                        <form id="detform" action="/detail/{{{id}}}" method='get'>
                        </form>
                    </template>
                    <div id="detailDiv">

                    </div>
        </main>
        
        <form action="">
            <input type="hidden" name="id"  value="<%=id%>">
        </form>
        <%- include('partials/footer') %>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="https://unpkg.com/mustache@latest"></script>
            <script src="/js/app.js"></script>
</body>

</html>