<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <%- include('partials/head',{title:'userPage'}) %>

</head>

<body>
    <%- include('partials/header') %>
        <main id="user-page-main">
            <div id="user-data-buttons">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <button class="user-buttons" id="Weather-button">Weather</button>
                <button class="user-buttons" id="hotels-button">Hotels</button>
                <button class="user-buttons" id="resturants-button">resturants </button>
                <button class="user-buttons" id="touristical-button">points of intersts </button>

                <form action="/update" method="post"> 
                    <input type="hidden" name="id"  value="<%=id%>">

                    <button class="user-buttons" id="updata-button">UpDate</button>
                </form>
                <br>
                <form action="/delete?_method=Delete" method="POST">
                    <input type="hidden" name="id" value="<%=id%>">
                    <button class="user-buttons" id="delete-button">Delete</button>
                </form>
            </div>
            <div id="red-pu">
                <div id="user-data-container">
                    <h2 id="Your-trips-details">
                        Your trips details
                    </h2>
                    <div id="radioTrip">
                    <% allData.forEach(row=>{ %>
                        <label for="id"> 
                            <input type="radio" name="id" value="<%=row.id%>" class="tripData">
                        </label>
                    <% }) %>
                </div>
                </div>
                <div id="container-of-spans">
                    <section class="detail-card flip-card" id="details-weather">
                        <div class="cardUserPage flip-card-inner1">
                            <div id="weather-div" class="flip-card-front">
                                <h2 id="Your-trips-details">
                                    <%=reviewResult.city %>
                                </h2>
                                <br>
                                <br>
                                <ul>
                                    <%weather.forEach(x=>{%>
                                        <li> Temperature : <%= x.temperature %>
                                        </li>
                                        <li> Description : <%= x.descriptions %>
                                        </li>
                                        <li> Wind Speed : <%= x.wind_speed %>
                                        </li>
                                        <li>humidity : <%= x.humidity %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                    </section>
                    <section class="detail-card flip-card" id="details-hotels">
                        <div class="cardUserPage flip-card-inner">
                            <div class="flip-card-front" id="flipFront">
                                <br><br><br><br><br><br><br><br><br><br>
                                <h3 class="h3">
                                    <%= reviewResult.hotel %>
                                </h3><br>
                                <p>TIME ARRIVE : <%= reviewResult.checkin %>
                                </p><br>
                                <p>TIME LEAVE : <%= reviewResult.checkout %>
                                </p><br>
                                <p>CONTACT :  <%= reviewResult.contact %>
                                </p>
                            </div>
                    </section>
                    <section class="detail-card flip-card" id="details-resturants">
                        <div id="resturants-card" class="cardUserPage flip-card-inner" >
                            <div class="flip-card-front">
                                <h3  class="h3">
                                    <%= reviewResult.returant %>
                                </h3>
                                <img src="<%= reviewResult.resturantimg %>" id="imgRES">
                            </div>
                            <div class="flip-card-back">
                                <h2> </h2>
                            </div>
                        </div>
                    </section>
                    <section class="detail-card flip-card" id="details-touristical">
                        <div id="resturants-card" class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">
                                <h3  class="h3">
                                    <%= reviewResult.touristic %>
                                </h3>
                                <img src="<%= reviewResult.touristicimg %>" id="imgRES1">
                                
                            </div>
                            <div class="flip-card-back"  id="pragraghTouris">
                                <br><br> <br> <br> <br>  <br>  <br>  <br> <br> <br>
                                <h3  class="h3">
                                    <%= reviewResult.touristic %>
                                </h3>
                                <p>
                                    <%= reviewResult.discrp %>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
                
            </div>
                    <template id="detailTemp" type="text/x-tmpl-mustache">
                        <form id="detform" action="/detail/{{{id}}}" method='get'>
                        </form>
                    </template>
                    <div id="detailDiv">

            </div>
        </main>
        <%- include('partials/footer') %>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="https://unpkg.com/mustache@latest"></script>
            <script src="/js/app.js"></script>
</body>

</html>