<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <%- include('partials/head',{title:'userPage'}) %>

</head>
<body>
    <%- include('partials/header') %>



<!-- 
-location
-username
-hotels 
-from to
-resturants name +url+image
-touristical  names 

 -->
<main id="user-page-main">
    <div  id="user-data-buttons">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

<button class="user-buttons"  id="hotels-button">Hotels</button>
<br>
<button class="user-buttons" id="resturants-button">resturants </button>
<br>
<button class="user-buttons" id="touristical-button">points of intersts </button>

    </div>



    <div id="red-pu">


<div id="user-data-container">


    <h2 id="Your-trips-details">
        Your trips details 
    </h2>

 
</div>



<div id="container-of-spans">

 
    <section id="details-hotels">
        <h3><%= reviewResult.hotel %></h3>

        <img src="<%= reviewResult.resturant1img %>">

        <p>desc</p>
    </section>
    
    <section id="details-resturants">
        <h3><%= reviewResult.hotel %></h3>

        <img src="<%= reviewResult.resturant1img %>">

        <p>desc</p>
    </section>

    <section id="details-touristical">
        <h3><%= reviewResult.hotel %></h3>

        <img src="<%= reviewResult.resturant1img %>">

        <p>desc</p>
    </section>
  

</div>


</div>









</main>






<%- include('partials/footer') %>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/js/app.js"></script>
</body>
</html>