<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <%- include('partials/head',{title:'userPage'}) %>

</head>

<body>
    <%- include('partials/header') %>


        <main id="user-page-main">
            <div id="user-data-buttons">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <button class="user-buttons" id="Weather-button">Weather</button>
                <br>
                <button class="user-buttons" id="hotels-button">Hotels</button>
                <br>
                <button class="user-buttons" id="resturants-button">resturants </button>
                <br>
                <button class="user-buttons" id="touristical-button">points of intersts </button>
                <br>
                <button class="user-buttons" id="updata-button">UpDate</button>
                <br>
                <button class="user-buttons" id="delete-button">Delete</button>

            </div>



            <div id="red-pu">


                <div id="user-data-container">
                    <h2 id="Your-trips-details">
                        <%=reviewResult.username%>
                        's trips details

                    </h2>
    

                </div>

                <div id="container-of-spans">
                    <section class="detail-card flip-card" id="details-weather">
                        <div class="cardUserPage flip-card-inner1">
                            <div id="weather-div" class="flip-card-front">
                                <h2 id="Your-trips-details">   <%=weather[0].city %></h2>
                                <br>
                                <br>
                                <ul>
                                    <%weather.forEach(x=>{%>
                                       <li> Temperature : <%= x.temperature  %></li>
                                       <li> Description : <%= x.descriptions  %></li>
                                       <li> Wind Speed :  <%= x.wind_speed  %></li>
                                       <li>humidity : <%= x.humidity  %></li>
                                <%    }) %>
                                </ul>

                            </div>
                            <div class="flip-card-back">
                                    <img src="https://cdn.pixabay.com/photo/2012/06/08/06/19/clouds-49520_960_720.jpg" alt="">
                            </div>
                        </div>
                    </section>


                    <section class="detail-card flip-card" id="details-hotels">
                        <div class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">

                                <h3>
                                    <%= reviewResult.hotel %>
                                </h3>
                                <p>time arrive  <%= reviewResult.checkin %></p>
                                <p>time leave  <%= reviewResult.checkout %></p>
                                <p>time leave  <%= reviewResult.contact %></p>
                             
                            </div>
                            <div class="flip-card-back">
                                <h2>   </h2>

                            </div>
                        </div>

                    </section>


                    <section class="detail-card flip-card" id="details-resturants">

                        <div id="resturants-card" class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">

                                <h3>
                                    <%= reviewResult.returant %>
                                </h3>

                                <a href=" <%=reviewResult.resturanturl %>"><img
                                        src="<%= reviewResult.resturantimg %>"> </a>


                            </div>
                            <div class="flip-card-back">
                                <h2>    </h2>

                            </div>
                        </div>
                    </section>

                        
                        <!-- <div class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">

                            <h3>
                                <%= reviewResult.returant2 %>
                            </h3>

                            <a href=" <%=reviewResult.resturant2url %>"><img src="<%= reviewResult.resturant2img %>">
                            </a>
                            </div>

                            <div class="flip-card-back">
                                <h2>Raneem</h2>

                            </div>

                        </div>
                        <div class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">

                            <h3>
                                <%= reviewResult.returant3 %>
                            </h3>
                            <a href=" <%=reviewResult.resturant2url %>"><img src="<%= reviewResult.resturant2img %>">
                            </a>
                            </div>
                            <div class="flip-card-back">
                                <h2>Raneem</h2>

                            </div>




                        </div>
                        <div class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">

                            <h3>
                                <%= reviewResult.returant4 %>
                            </h3>

                            <a href=" <%=reviewResult.resturant2url %>"><img src="<%= reviewResult.resturant2img %>">
                            </a>
                            </div>


                            <div class="flip-card-back">
                                <h2>ALaa</h2>

                            </div> -->
                        <!-- </div> -->

                   
<!-- 
section class="detail-card flip-card" id="details-resturants">

                        <div id="resturants-card" class="cardUserPage flip-card-inner">
                            <div class="flip-card-front">

                                <h3>
                                    <%= reviewResult.returant1 %>
                                </h3>

                                <a href=" <%=reviewResult.resturant2url %>"><img
                                        src="<%= reviewResult.resturant2img %>"> </a>


                            </div>
                            <div class="flip-card-back">
                                <h2>Raneem</h2>

                            </div>
                        </div>

 -->



 <section class="detail-card flip-card" id="details-resturants">

    <div id="resturants-card" class="cardUserPage flip-card-inner">
        <div class="flip-card-front">

            <h3>
                <%= reviewResult.touristic %> </h3>

            <img
                    src="<%= reviewResult.touristicimg %>"> 

                    <p>
                        <%= reviewResult.discrp %>
                    </p>
        </div>
        <div class="flip-card-back">
            <h2>  </h2>

        </div>
    </div>
</section>
    <!--
    <div class="cardUserPage flip-card-inner">
        <div class="flip-card-front">

        <h3>
            <%= reviewResult.touristic2 %>        </h3>

        <a href=" <%=reviewResult.resturant2url %>"><img src="<%= reviewResult.resturant2img %>">
        </a>
        <p>
            <%= reviewResult.discrp2 %>
        </p>
        </div>

        <div class="flip-card-back">
            <h2>Raneem</h2>

        </div>

    </div>

    <div class="cardUserPage flip-card-inner">
        <div class="flip-card-front">

        <h3>
                                <%= reviewResult.touristic3 %>        </h3>
        <a href=" <%=reviewResult.resturant2url %>"><img src="<%= reviewResult.resturant2img %>">
        </a>
        <p>
            <%= reviewResult.discrp3 %>
        </p>


        </div>
        <div class="flip-card-back">
            <h2>Raneem</h2>

        </div>

    </div>

    
    <div class="cardUserPage flip-card-inner">
        <div class="flip-card-front">

        <h3>
            <%= reviewResult.touristic4 %>        </h3>

        <a href=" <%=reviewResult.resturant2url %>"><img src="<%= reviewResult.resturant2img %>">
        </a>
        <p>
            <%= reviewResult.discrp4 %>
        </p>

        </div>


        <div class="flip-card-back">
            <h2>Hello World</h2>

        </div> -->
    <!-- </div> -->



                </div>

                </div>


                <!-- 
                <section class="detail-card" id="weather-card">



                </section> -->

            </div>

        </main>

        <%- include('partials/footer') %>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="/js/app.js"></script>
</body>

</html>